cmake-build-*/
*build*/
.idea/
archive/
*.def
docs/

**/.project

CMakeFiles/
**/CMakeFiles/**
**/CMakeCache.txt
**/Makefile
**/*.make
**/*.so
**/compile_commands.json
**/install_manifest.txt
**/Doxyfile.doxygen
**/CMakeDoxyfile.in
