cmake-build-*/
*build*/
.idea/
archive/
*.def
docs/

venv/

**/.project

CMakeFiles/
**/CMakeFiles/**
**/CMakeCache.txt
**/Makefile
**/*.make
**/*.so
**/compile_commands.json
**/install_manifest.txt
**/Doxyfile.doxygen
**/CMakeDoxyfile.in

xcuserdata/
*.dSYM

*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcworkspacedata

local.properties

*.DS_Store
